<h1>this is : viewclients.html</h1>

<ul class="nav navbar-nav">
    <li class="active"><a href="{% url 'pageHome' %}">Home</a></li>
    <li><a href="{% url 'pageBrokerDetails' %}">Broker Details</a></li>
    <li><a href="{% url 'pageViewClients' %}">View Clients</a></li>
    <li><a href="{% url 'pageftpPredict' %}">FTT Predict</a></li>
    <li><a href="{% url 'pageReport' %}">Reports</a></li>
        <li><a href="{% url 'pageSignIn' %}">Login</a></li>
        <li><a href="{% url 'pageAboutUs' %}">About Us</a></li>
    <li><a href="{% url 'pageContactUs' %}">Contact Us</a></li>
  </ul>